<!-------------------------------- Angular basics -------------------------------------------------->

<!-- <h1>First Angular App</h1> -->

<!-- <h2>{{ title }}</h2> -->

<!-- <img [src]="{{ imageURL }}" alt=""> -->

<!-- <button disabled="{{ isDisabled }}">using string</button>
<button [disabled]="isDisabled">using property</button>

<button [class.active]="isActive" [class.no-active]="!isActive" [class.active-border]="isActive"
    [class.no-active-border]="!isActive">
    click me
</button> -->

<!-- <button [style.background]="isActive? 'red' : 'green' " [style.border]="isActive ? '3px solid yellow' : ''">Click
</button> -->

<!-- <button (click)="buttonClick()">Click me</button>

<input type="text" (keyup)="keyEnter($event)"> -->

<!-- <input type="text" (keyup.enter)="keyUpFiltering(user)" #user id="userInput"> -->

<!-- <input type="text" [value]="userName" #username (keyup.enter)="updateUserName(username)"> -->

<!-- <input type="text" [(ngModel)]="userName">

<h3>{{ userName }}</h3> -->

<!-- ===================================================================================================== -->

<!------------------------------------------------- Angular structural directives --------------------------------------------------->

<!----------------------------------------- old way -------------------------------------------->
<!-- <h2 *ngIf="isLoggedIn; else message">{{ userName }}</h2> -->

<!-- <h4 *ngIf="!isLoggedIn">User is not logged in</h4> -->

<!-- <ng-template #message>
    <h4>User is not logged in ng-template</h4>
</ng-template> -->

<!-- new way -->
<!-- @if (isLoggedIn) {
<h3>{{ userName }}</h3>
}
@else {
<h3>User is not logged in new</h3>
} -->

<!-----------------------------------Multiple conditions------------------------------------------>

<!-- <h4 *ngIf="isAdmin">Welcome Admin</h4>
<h4 *ngIf="isMember">Welcome Member</h4>
<h4 *ngIf="isGuest">Welcome Guest</h4> -->

<!-- <h4 *ngIf="isAdmin; else member">Welcome Admin</h4>
<ng-template #member>
    <h4 *ngIf="isMember; else guest">Welcome Member</h4>
</ng-template>
<ng-template #guest>
    <h4 *ngIf="isGuest">Welcome Guest</h4>
</ng-template> -->

<!-- @if (isAdmin) {
<h4>Welcome Admin</h4>
}
@else if (isMember) {
<h4>Welcome Member</h4>
}
@else if (isGuest) {
<h4>Welcome Guest</h4>
} -->

<!----------------------------------------------if Directive with number values--------------------------------------------->

<!-- <button (click)="countLoginAttemps()" *ngIf="loginCount < 4">Log in</button>

<h4 *ngIf="loginCount > 3">Exceed 3 login attemps....</h4> -->

<!-- @if (loginCount < 4) { <button (click)="countLoginAttemps()">Log in syntax</button>
    }

    @if (loginCount > 3) {
    <h4>Exceed 3 login attemps....</h4>
    } -->

<!----------------------------------------------------------if Directive with string values---------------------------------------->
<!-- <h2 *ngIf="userRole == 'Admin'; else member">Welcome Admin</h2>

<ng-template #member>
    <h2>Welcome Member</h2>
</ng-template> -->

<!-- @if (userRole == 'Admin') {
<h2>Welcome Admin New</h2>
} @else if (userRole == 'Member') {
<h2>Welcome Member New</h2>
} -->

<!--------------------------------------------------------------ngTemplateOutlet------------------------------------------------------>
<!-- <ng-template #callButton>
    <button>Join now</button>
</ng-template>

<div [ngTemplateOutlet]="callButton">
    <h1>Header</h1>
</div>
<div [ngTemplateOutlet]="callButton">
    <h4>Footer</h4>
</div> -->

<!--------------------------------------------------------------------Ng for directive----------------------------------------------------->
<!-- <h4>{{ users[0] }}</h4>
<h4>{{ users[1] }}</h4>
<h4>{{ users[2] }}</h4> -->

<!-- <h3 *ngFor="let user of users">{{ user }}</h3>

@for (user of users; track user) {
<h3>{{ user }} - loaded using new syntax</h3>
} -->

<!-- <ul>
    <li *ngFor="let user of users">{{ user }}</li>
</ul>

<ul>
    @for (user of users; track user) {
    <li>{{ user }} - loaded using new syntax</li>
    }
</ul> -->

<!-------------------------------Ng for directive fetch array object----------------------------------------->

<!-- <div *ngIf="usersObj.length == 0">
    <p>
        No users to display !!
    </p>
</div> -->

<!-- <ul>
    <li *ngFor="let user of usersObj; let i = index;; let usersCount = count">
        {{ usersCount }} - {{ i }} - {{ user.email }}
    </li>
</ul> -->

<!-- <ul>
    @if (usersObj.length == 0) {
    <p>
        No users to display !!
    </p>
    }
    @for (user of usersObj; track user; let i = $index; let usersCount = $count; let first = $first; let last = $last) {
    <li>
        {{ last }} - {{ first }} - {{ usersCount }} - {{ i }} - {{ user.name }}
        <button (click)="deleteUser(i)">Delete</button>
    </li>
    }
    @empty {
    <p>
        No users to display empty method !!
    </p>
    }
</ul> -->

<!-------------------------------Change ditection----------------------------------------->
<!-- <button (click)="addNewUser()">Add New User</button> -->

<!--------------------------------------------------------------------Ng switch case directive----------------------------------------------------->

<!-- <div [ngSwitch]="userRole">
        <p *ngSwitchCase="'Admin'">Welcome Admin</p>
        <p *ngSwitchCase="'Member'">Welcome Member</p>

        <p *ngSwitchDefault>Please log in</p>
    </div> -->

<!-- @switch (userRole) {
    @case ('Admin') {
    <p>Welcome Admin</p>
    }
    @case ('Member') {
    <p>Welcome Admin</p>
    }
    @default {
    <p>Please log in</p>
    }

    } -->

<!-- ===================================================================================================== -->

<!------------------------------------------------- Angular attribute directives --------------------------------------------------->

<!-- <h1 [style.color]="isLoggedIn? 'green' : 'red'" [style.textTransform]="isLoggedIn? 'uppercase' : 'lowercase'">Welcome
    Admin</h1> -->

<!-- <h1 [ngStyle]="{ 'color':isLoggedIn ? 'green':'red', 'textTransform':isLoggedIn ? 'uppercase':'lowercase' }">Ng style
</h1> -->

<!-- <h1 [class.login]="isLoggedIn" [class.logout]="!isLoggedIn">Class binding</h1> -->


<h1 [ngClass]="{ 'login': isLoggedIn, 'logout':!isLoggedIn }">Class binding</h1>